<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:j="http://java.sun.com/jsf/composite/jquery">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Bodega WEB - Relatórios</title>
</h:head>
<body>
	<ui:param name="bean" value="#{graficosBean}" />
	<ui:param name="login" value="#{loginBean}" />
	<ui:include src="/WEB-INF/menu.xhtml" />

	<h:form>
		<p:growl id="message" showDetail="true" />

		<h:panelGrid columns="2" columnClasses="left,right" style="width:100%">

			<p:chart type="line" model="#{bean.animatedModel}"
				style="width:100%;height:500px;" />

		</h:panelGrid>

	</h:form>
</body>
</html>