@CHARSET "ISO-8859-1";

.ten-percent {
	width: 10%;
}

.twenty-percent {
	width: 20%;
}

.thirty-percent {
	width: 30%;
}

.forty-percent {
	width: 40%;
}

.fifty-percent {
	width: 50%;
}

.sixty-percent {
	width: 60%;
}

.seventy-percent {
	width: 70%;
}

.eighty-percent {
	width: 80%;
}

.top-alignment {
	vertical-align: top;
}