<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:j="http://java.sun.com/jsf/composite/jquery">
	<h:form>
		<p:menubar>

			<p:submenu label="Vendas">
				<p:menuitem value="Vendas Abertas"
					disabled="#{!bean.permissoes.vendasAbertas}"
					url="#{bean.permissoes.vendasAbertasUrl}" />
				<p:menuitem value="Vendas Fechadas"
					disabled="#{!bean.permissoes.vendasFechadas}"
					url="#{bean.permissoes.vendasFechadasUrl}" />
			</p:submenu>

			<p:submenu label="Pedidos">
				<p:menuitem value="Pedidos Abertos"
					disabled="#{!bean.permissoes.pedidosAbertos}"
					url="#{bean.permissoes.pedidosAbertosUrl}" />
				<p:menuitem value="Pedidos Fechados"
					disabled="#{!bean.permissoes.pedidosFechados}"
					url="#{bean.permissoes.pedidosFechadosUrl}" />
				<p:menuitem value="Fornecedores"
					disabled="#{!bean.permissoes.fornecedores}"
					url="#{bean.permissoes.fornecedoresUrl}" />
				<p:menuitem value="Enviar XML"
					disabled="#{!bean.permissoes.enviarXML}"
					url="#{bean.permissoes.enviarXMLUrl}" />
			</p:submenu>

			<p:submenu label="Estoque">
				<p:menuitem value="Produtos" disabled="#{!bean.permissoes.produtos}"
					url="#{bean.permissoes.produtosUrl}" />
				<p:menuitem value="Movimentação"
					disabled="#{!bean.permissoes.movimentacao}"
					url="#{bean.permissoes.movimentacaoUrl}" />
			</p:submenu>

			<p:submenu label="Relatórios">
				<p:menuitem value="Relatórios"
					disabled="#{!bean.permissoes.relatorios}"
					url="#{bean.permissoes.relatoriosUrl}" />
				<p:menuitem value="Gráficos" disabled="#{!bean.permissoes.graficos}"
					url="#{bean.permissoes.graficosUrl}" />
			</p:submenu>

			<p:menuitem value="Usuários" disabled="true" />
			<f:facet name="options">
				<p:commandButton type="button" value="Logout" icon="ui-icon-extlink"
					action="#{login.doLogout}" />
			</f:facet>
		</p:menubar>
	</h:form>
</ui:composition>